.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  padding: 1rem;
}

.nav-links a {
  color: rgb(65, 5, 5);
  text-decoration: none;
  font-size: 1.6rem;
}
