#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-items {
  padding: 2em;
  background-color: antiquewhite;
  font-size: larger;
  padding: 10px;
}

.nav-links {
  background-color: antiquewhite;
  color: black;
}

